{% extends 'blog/base.html' %}


{% block title %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'articles' %}">文章列表</a></li>
        <li class="breadcrumb-item"><a href="{% url 'category' object.category.id %}">{{ object.category }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
        <li class="breadcrumb-item"></li>
    </ol>
</nav>
{% endblock %}

{% block content %}

<article>
    {{ object.content }}
</article>

{% endblock %}