{% extends 'blog/base.html' %}
{% load static %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/md.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/article.css' %}">
{% endblock %}

{% block content %}

<div class="article-header">
    <h1>{{object.title}}</h1>
    <ul>
        <li>📁 <a class="article-category" href="{% url 'category' object.category.id %}">{{ object.category }}</a> |
        </li>
        <li>📅 {{ object.create_time | date }} |</li>
        <li>{% for tag in object.tags.all %}
            <span class="badge badge-light">🔖{{ tag }}</span>
            {% endfor %}</li>
    </ul>
    <hr>
</div>


<article id="article-content" class="markdown-body">

</article>
<hr>
<div class="article-footer">
    <p>Copyright © {{ object.create_time | date:"Y" }} MoonLightWatch</p>
</div>
<p id="md-content" hidden>{{ object.content }}</p>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    var rendererMD = new marked.Renderer();
    marked.setOptions({
        renderer: rendererMD,
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: false,
        smartLists: true,
        smartypants: false
    });//基本设置
    document.getElementById("article-content").innerHTML = marked(document.getElementById("md-content").innerText);
</script>
{% endblock %}