{% extends 'blog/base.html' %}
{% load static %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/md.css' %}">
{% endblock %}

{% block content %}

<article id="article-content" class="markdown-body">

</article>
<p id="md-content" hidden>{{ object.content }}</p>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    document.getElementById("article-content").innerHTML = marked(document.getElementById("md-content").innerText);
</script>
{% endblock %}