{% extends 'blog/base.html' %}
{% load static %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/articlelist.css' %}">
{% endblock %}

{% block content %}

{% for item in page_obj %}

<div class="article-area">

    <h1><a class="article-title" href="/blog/article/{{ item.id }}">{{item.title}}</a></h1>
    <span>📁 <a class="article-category" href="{% url 'category' item.category.id %}">{{ item.category }}</a></span> |
    <span>📅 {{ item.create_time | date }}</span> |
    {% for tag in item.tags.all %}
    <span class="badge badge-light">🔖{{ tag }}</span>
    {% endfor %}
</div>
<br>

{% endfor %}

<ul class="page-ul">
    {% if page_obj.has_previous %}
    <li>
        <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
    </li>
    {% endif %}

    {% for n in page_obj.paginator.page_range %}
    {% if n ==  page_obj.number%}
    <li style="background-color: rgba(255, 255, 255, 0.3);"><a href="#">{{n}}</a></li>
    {% else %}
    <li><a href="?page={{ n }}">{{n}}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li>
        <a href="?page={{page_obj.next_page_number}}">下一页</a> </li>
    {% endif %}


</ul>

{% endblock %}