{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <title>MoonLightWatch-Blog</title>
    {% block headblock %}
    {% endblock %}
</head>

<body background="{% static 'images/bg.jpg' %}">
    <ul class="nav-ul">
        <li>
            <a href="/">主页</a>
        </li>
        <li>
            <a href="/blog/articles">文章</a>
        </li>
        <li>
            <a href="/blog/categories">分类</a>
        </li>
        <li>
            <a href="/blog/tags">标签云</a>
        </li>
    </ul>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>