{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    {% if object is None %}
        <title>MoonLightWatch-Blog</title>
    {% else %}
        {% if object.name is None %}
        <title>{{object.title}}</title>
        {% endif %}
        {% if object.title is None %}
        <title>{{object.name}}</title>
        {% endif %}
    {% endif %}
    
    {% block headblock %}
    {% endblock %}
</head>

<body background="{% static 'images/bg.jpg' %}">
    <div class="bg-div">

    </div>
    <ul class="nav-ul">
        <li>
            <a class="nav-link" href="/">主页</a>
        </li>
        <li>
            <a class="nav-link" href="/blog/articles">文章</a>
        </li>
        <li>
            <a class="nav-link" href="/blog/categories">分类</a>
        </li>
        <li>
            <a class="nav-link" href="/blog/tags">标签云</a>
        </li>
        <li>
            <a class="nav-link" href="/blog/links">友情链接</a>
        </li>
    </ul>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>