{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>MoonLightWatch-Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body background="{% static 'images/bg.jpg' %}">
    <div class="bg-div">

    </div>
    <div class="front-div">
        <h1>MoonLightWatch</h1>
        <ul>
            <li>
                <a href="/blog/">博客</a>
            </li>
            <li>
                <a href="#">图书馆</a>
            </li>
        </ul>
    </div>
   
</body>

</html>